{% load static %}

<html>
    <head>
        <script type="text/javascript" src="{% static 'javascripts/jquery-3.4.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'javascripts/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'javascripts/jquery-ui-1.12.1/jquery-ui.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    </head>
    <body>
        <div id="output" class="rightBox">
            出力
        </div>
        <div id="delete" class="rightBox">
            モジュール<br>削除
        </div>

        <div id="modules">
            <div class='module' data-id='text'>
                <img src="{% static 'icons/text.png' %}" alt="テキスト" width="100%" height="100%">
            </div>
            <div class='module' data-id='clock'>
                <img src="{% static 'icons/clock.png' %}" alt="テキスト" width="100%" height="100%">
            </div>
        </div>
        <!-- <div id="frame"> -->
            <div id='scene'></div>
        <!-- </div> -->
        <!-- <input id="scaleUp" type="button" value="拡大">
        <input id="scaleDown" type="button" value="縮小">
        <input id="scaleReset" type="button" value="リセット"> -->
        <script type="module" src="{% static 'javascripts/index.js' %}"></script>
    </body>
</html>
